@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ==== Common Style */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins" , sans-serif;
  background-color: #2e2e2e;
}

.title-content {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.title {
  display: block;
  color: white;
  border-bottom: 4px solid #e50002;
  font-size: 3rem;
  letter-spacing: 2px;
}

.tb-hover , .lr-hover{
  position: relative;
}

.tb-hover::after ,
.lr-hover::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #E50002;
  background: linear-gradient(90deg,rgba(229, 0, 2, 1) 0%,
  rgba(252, 28, 43, 0.67) 35%,
  rgba(255, 54, 80, 0.6) 100%);
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.tb-hover::after {
  height: 0;
  width: 100%;
}

.lr-hover::after {
  height: 100%;
  width: 0;
}

.lr-hover:hover::after {
  width: 100%;
}

.tb-hover:hover::after {
  height: 100%;
}

.show-menu {
  background-color: #111;
  display: block;
  padding: 0 20px;
  padding-top: 20px;
}

.show-menu li {
  margin-bottom: 50px;
}

/* ==== Header Section ==== */

header {
  width: 75%;
  position: fixed;
  left: 12.5%;
  top: 0;
  z-index: 500;
  padding: 0 10px;
}

.after-home {
  background-color: #2e2e2e;
  box-shadow: 2px 5px 10px rgba(0,0,0,.3);
}

header nav {
  display: flex;
  height: 75px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

header nav h1 {
  font-size: 2.5rem;
  color: #e50002;
  font-weight: 900;
  cursor: pointer;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 75px;
}

header nav ul li a {
  color: #fefefe;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
}

header nav ul li a.last-h {
  margin-right: 4px;
}

header nav ul li a.after-one::after ,
header nav ul li a.after-two::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #e50002;
  bottom: -5px;
  left: 0;
  transition: all 0.5s ease-in-out;
}

header nav ul li a.after-two::after {
  background-color: #2e2e2e;
}

header.after-home nav ul li a.after-two::after {
  background-color: #e50002;
}

header nav ul li a:hover::after  {
  width: 100%;
}

.cart {
  position: relative;
  top: 2px;
  right: 10px;
  width: 22.5px;
}

.cart-count {
  position: absolute;
  color: #e9e9e9;
  background-color: #E50002;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: -8px;
  right: -3px;
  align-content: center;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
}

/* ==== Home Section ==== */

.home {
  position: relative;
  height: 100vh;
}

.red-circle {
  position: absolute;
  width: 40%;
  height: 99.5vh;
  border-radius: 50% 0 0 5%;
  top: 0.5%;
  right: 0;
  background-color: #e50002;
  z-index: -10;
}

.home .contant {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.home .contant .desc {
  width: 40%;
  color: #fefefe;
}

.home .contant .desc h1 {
  font-weight: 900;
  font-size: 3rem;
}

.home .contant .desc p {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.home .contant .desc span {
  font-weight: 400;
  color: #999;
  display: block;
  width: 80%;
  line-height: 2rem;
}

.home .contant img {
  position: absolute;
  top: 8%;
  right: 22%;
  scale: 0.9;
  transform: scaleX(-1) rotate(10deg);
  animation: shoeSwing 2s infinite ease-in-out;
}

@keyframes shoeSwing {
  0%   { transform: scaleX(-1) rotate(10deg); }
  50%  { transform: scaleX(-1) rotate(20deg); }
  100% { transform: scaleX(-1) rotate(10deg); }
}

/* ==== Woman Section ==== */

.cards {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.cards .card {
  border: 2px solid #999;
  width: 30%;
  text-align: center;
  color: white;
  box-shadow: 2px 5px 10px rgba(0,0,0,.3);
}

.cards .card img {
  width: 40%;
}

.cards .card img:hover {
  transform: rotate(-10deg);
  transition: all 0.7s ease-in-out;
}

.cards .card h5 {
  font-size: large;
  font-weight: 500;
}

.cards .card p {
  margin: 3% 0;
  font-weight: 200;
}

.btn {
  display: block;
  margin: 5% auto;
  text-align: center;
  cursor: auto;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fefefe;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-3 {
  background: #e50002;
  background: linear-gradient(0deg, #e50002 0%, #cc0002 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #e50002;
  transition: all 0.5s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover{
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover{
  color: #e50002;
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #e50002;
  transition: all 0.5s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

/* ==== Man Section ==== */

.men .cards .card img {
  margin: 3% 0;
}

/* ==== Sport Section ==== */

.sport .cards .card img {
  transform: scaleX(-1);
}

.sport .cards .card img:hover {
  transform: scalex(-1) rotate(20deg);
  transition: all 0.7s ease-in-out;
}

/* ==== Footer ==== */

footer {
  color: white;
  background-color: #7d2121;
  margin-top: 10%;
  padding: 20px 0;
}

.footer-content {
  width: 90%;
  margin: 1% auto 3%;
  display: flex;
  justify-content: space-between;
}

.item-footer {
  width: 23%;
}

.item-footer h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-top: -8px;
}

.item-footer h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.item-footer p {
  color: #ddd;
}

.center {
  text-align: center;
}

.item-footer ul {
  list-style: none;
}

.item-footer ul li a {
  color: #ddd;
  text-decoration: none;
}

.item-footer div {
  margin: 2% 0;
}

.item-footer div span {
  color: #ddd;
  margin-left: 1%;
}

.social-media {
  height: 54%;
  margin-left: 1%;
  display: flex;
  gap: 25px;
  align-items: center;
}

footer hr {
  width: 96%;
  margin: 0 auto;
}

.copy-rigth {
  margin-top: 2%;
  text-align: center;
  font-size: x-large;
  font-weight: 700;
}

/* ==== Scroll ==== */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FAF7F3; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d2121; 
}

/* ============= Media Query ============= */

/* ====== Laptop (≤ 1200px) ====== */
@media (max-width: 1200px) {
  header {
    width: 100%;
    left: 0;
  }

  .home .contant img {
    max-width: 350px;
    margin: 0 auto;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 80%;
  }

  .cards .card:nth-child(3) {
    grid-column: span 2;
    justify-self: center;
  }
}

/* ====== Tablet (≤ 992px) ====== */
@media (max-width: 992px) {
  header {
    width: 100%;
    left: 0;
  }

  header nav ul {
    gap: 40px;
  }

  .home .contant .desc {
    width: 70%;
  }

  .home .contant img {
    max-width: 300px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 85%;
  }

  .cards .card:nth-child(3) {
    grid-column: span 2;
    justify-self: center;
  }

  .item-footer {
    width: 45%;
  }
}

/* ====== Mobile Medium (≤ 768px) ====== */
@media (max-width: 768px) {
  header {
    width: 100%;
    left: 0;
  }

  header nav ul {
    gap: 30px;
  }

  .home .contant {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 100px 20px 40px;
  }

  .home .contant .desc {
    width: 90%;
  }

  .home .contant img {
    position: relative;
    margin: 20px auto 0;
    transform: scale(0.9);
    animation: none;
    max-width: 280px;
  }

  .cards {
    flex-wrap: wrap;
  }

  .cards .card {
    width: 40%;
  }

  .footer-content {
    flex-wrap: wrap;
    gap: 20px;
  }

  .item-footer {
    width: 45%;
  }
}

/* ====== Mobile Small (≤ 576px) ====== */
@media (max-width: 576px) {
  header {
    width: 100%;
    height: 80px;
    left: 0;
    padding: 0 15px;
    text-align: start;
  }

  header nav {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
    gap: 10px;
    align-items: start;
  }

  .title-menu {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .menu {
    display: block;
    cursor: pointer;
    font-size: 1.8rem;
  }

  header nav ul {
    display: none;
    height: fit-content;
    flex-direction: column;
    gap: 15px;
  }

  .home {
    text-align: center;
    height: auto;
    padding: 80px 20px 40px;
  }

  .home .contant {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .home .contant .desc {
    width: 100%;
  }

  .home .contant img {
    position: relative;
    margin: 20px auto 0;
    transform: scale(0.9);
    animation: none;
    max-width: 250px;
  }

  .cards {
    flex-wrap: wrap;
  }

  .cards .card {
    width: 46%;
  }

  .footer-content {
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 20px;
  }

  .item-footer {
    width: 100%;
  }

  .item-footer ul.social-media {
    margin: 0 39%;
  }
}