/* ==== Header Section ==== */

header {
  width: 75%;
  position: fixed;
  left: 12.5%;
  top: 0;
  z-index: 500;
  padding: 0 10px;
}

.after-home {
  background-color: #2e2e2e;
  box-shadow: 2px 5px 10px rgba(0,0,0,.3);
}

header nav {
  display: flex;
  height: 75px;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
}

header nav h1 {
  font-size: 2.5rem;
  color: #e50002;
  font-weight: 900;
  cursor: pointer;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 75px;
}

header nav ul li a {
  color: #fefefe;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  position: relative;
}

header nav ul li a.last-h {
  margin-right: 4px;
}

header nav ul li a.after-one::after ,
header nav ul li a.after-two::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #e50002;
  bottom: -5px;
  left: 0;
  transition: all 0.5s ease-in-out;
}

header nav ul li a.after-two::after {
  background-color: #2e2e2e;
}

header.after-home nav ul li a.after-two::after {
  background-color: #e50002;
}

header nav ul li a:hover::after  {
  width: 100%;
}

.cart {
  position: relative;
  top: 2px;
  right: 10px;
  width: 22.5px;
}

.cart-count {
  position: absolute;
  color: #e9e9e9;
  background-color: #E50002;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: -8px;
  right: -3px;
  align-content: center;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
}

/* ============= Media Query ============= */

/* ====== Laptop (≤ 1200px) ====== */
@media (max-width: 1200px) {
  header {
    width: 100%;
    left: 0;
  }
}

/* ====== Tablet (≤ 992px) ====== */
@media (max-width: 992px) {
  header {
    width: 100%;
    left: 0;
  }

  header nav ul {
    gap: 40px;
  }
}

/* ====== Mobile Medium (≤ 768px) ====== */
@media (max-width: 768px) {
  header {
    width: 100%;
    left: 0;
  }

  header nav ul {
    gap: 30px;
  }
}

/* ====== Mobile Small (≤ 576px) ====== */
@media (max-width: 576px) {
  header {
    width: 100%;
    height: 80px;
    left: 0;
    padding: 0 15px;
    text-align: start;
  }

  header nav {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
    gap: 10px;
    align-items: start;
  }

  header nav ul {
    display: none;
    height: fit-content;
    flex-direction: column;
    gap: 15px;
  }

  .title-menu {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .menu {
    display: block;
    cursor: pointer;
    font-size: 1.8rem;
  }
}