@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ==== Common Style */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins" , sans-serif;
  background-color: #2e2e2e;
}

.title-content {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.title {
  display: block;
  color: white;
  border-bottom: 4px solid #e50002;
  font-size: 3rem;
  letter-spacing: 2px;
}

.tb-hover , .lr-hover{
  position: relative;
}

.tb-hover::after ,
.lr-hover::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #E50002;
  background: linear-gradient(90deg,rgba(229, 0, 2, 1) 0%,
  rgba(252, 28, 43, 0.67) 35%,
  rgba(255, 54, 80, 0.6) 100%);
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.tb-hover::after {
  height: 0;
  width: 100%;
}

.lr-hover::after {
  height: 100%;
  width: 0;
}

.lr-hover:hover::after {
  width: 100%;
}

.tb-hover:hover::after {
  height: 100%;
}

.show-menu {
  background-color: #111;
  display: block;
  padding: 0 20px;
  padding-top: 20px;
}

.show-menu li {
  margin-bottom: 50px;
}

.cards {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.cards .card {
  border: 2px solid #999;
  width: 30%;
  text-align: center;
  color: white;
  box-shadow: 2px 5px 10px rgba(0,0,0,.3);
}

.cards .card img {
  width: 40%;
}

.cards .card img:hover {
  transform: rotate(-10deg);
  transition: all 0.7s ease-in-out;
}

.cards .card h5 {
  font-size: large;
  font-weight: 500;
}

.cards .card p {
  margin: 3% 0;
  font-weight: 200;
}


.btn {
  display: block;
  margin: 5% auto;
  text-align: center;
  cursor: auto;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fefefe;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-3 {
  background: #e50002;
  background: linear-gradient(0deg, #e50002 0%, #cc0002 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #e50002;
  transition: all 0.5s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover{
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover{
  color: #e50002;
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #e50002;
  transition: all 0.5s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

/* ==== Scroll ==== */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FAF7F3; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7d2121; 
}

/* ============= Media Query ============= */

/* ====== Laptop (≤ 1200px) ====== */
@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 80%;
  }

  .cards .card:nth-child(3) {
    grid-column: span 2;
    justify-self: center;
  }
}

/* ====== Tablet (≤ 992px) ====== */
@media (max-width: 992px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 85%;
  }

  .cards .card:nth-child(3) {
    grid-column: span 2;
    justify-self: center;
  }
}

/* ====== Mobile Medium (≤ 768px) ====== */
@media (max-width: 768px) {
  .cards {
    flex-wrap: wrap;
  }

  .cards .card {
    width: 40%;
  }
}

/* ====== Mobile Small (≤ 576px) ====== */
@media (max-width: 576px) {
  .cards {
    flex-wrap: wrap;
  }

  .cards .card {
    width: 46%;
  }


}