body {
  background-color: #F2F2F2;
}

header {
  background-color: #F2F2F2;
}

header nav h1 {
  color: #000000;
}

header nav ul li a {
  color: #d1c3a2;
}

header nav ul li a.after-one::after ,
header nav ul li a.after-two::after {
  background-color: #000000;
}

.cart-count {
  background-color: #000000;
}

/* ===== products ===== */

.products {
  margin-top: 10%;
}

.cards {
  flex-wrap: wrap;
}

.cards .card {
  width: 23%;
  border: 2px solid #B6B09F;
  margin-bottom: 2%;
  color: #d1c3a2;
}

.cards .card:hover {
  animation: customAni 2s ease-in-out;
}

@keyframes customAni {
  0%,
  100% {
  transform: rotate(0deg);
  transform-origin: 50% 0;
  }

  10% {
  transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
  transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
  transform: rotate(4deg);
  }

  80% {
  transform: rotate(-2deg);
  }

  90% {
  transform: rotate(2deg);
  }
}

.cards .card img {
  width: 60%;
  height: 15vh;
}

.cards .card .custom-btn {
  margin-bottom: 3%;
}

.btn-3 {
  background: #B6B09F;
  background: linear-gradient(0deg, #B6B09F 0%, #000000 100%);
}

.btn-3:before,
.btn-3:after {
  background: #B6B09F;
}

.btn-3 span:hover{
  color: #B6B09F;
}

.btn-3 span:before,
.btn-3 span:after {
  background: #B6B09F;
}

/* ===== Scroll ===== */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B6B09F; 
}

/* ============= Media Query ============= */

@media (max-width: 768px) {
  .cards {
    position: relative;
    top: 50px;
  }

  .custom-btn {
    width: 80px;
  }

  .btn-3 {
    width: 100px;
  }

  .cards .card {
    width: 45%;
  }

  header nav ul li a.after-one::after ,
  header nav ul li a.after-two::after {
   background-color: #444;
  }
}